//
// Marquee
// ---------------------------

@import '../../styles/colors';

:local(.root) {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 25vh 2em;
    background-color: $plum;
}

:local(.container) {
    position: relative;
    width: 25em;
    margin-right: 10vw;
    flex-shrink: 0;
}

:local(.angleTop) {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
}

:local(.headline) {
    font-size: 2em;
    color: $purple;
}

:local(.copy) {
    margin-right: 5em;
    flex-grow: 1;
    text-align: left;
    max-width: 500px;

    code {
        font-size: 0.8em;
    }
}

:local(.trianglesPurple) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

:local(.trianglesWhite) {
    svg {
    }
}
