@import "../../styles/colors";

.root {
  position: relative;
  background-color: black;
  width: 300vw;
}

.artist {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-align: right;
  color: rgb(190, 102, 87);
  font-family: monospace;
  z-index: 10;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: auto 100%;
  background-repeat: repeat-x;
  height: 100vh;
}
