name: Deploy to GH Pages
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Deploy Example
        run: cd parallax-example
      - name: Install Packages
        run: yarn
      - name: Build & Deploy
        run: |
          git config --global user.email "jscsmith@gmail.com"
          git config --global user.name "jscottsmith"
          git remote set-url origin https://${{ secrets.MY_DEPLOY_KEY }}@github.com/jscottsmith/react-scroll-parallax-examples.git
          yarn build
          yarn deploy
